.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;

}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messageInput {
    width: 200px;
    height: 30px;
    resize: none;
}

.sendButton {
    margin-left: 10px;
    width: 80px;
    height: 35px;
    font-size: 15px;
}